@media (min-width: 768px){
    .Bracket{
        display: flex;
        flex-direction: row;
    }

    .round{
        display: flex;
        flex-direction:column;
        justify-content:center;
        width:200px;
        padding:0;
    
    }

    .spacer{
       flex-grow: 1;
    }

    .spacer:first-child, .spacer:last-child{
        flex-grow: .5;
    }

    .game-spacer{
        flex-grow: 1;
    }
}