@media (min-width: 768px){
    .Bracket{
        display: flex;
        flex-direction: row;
    }

    div{
        /* border: 1px solid black; */
    }

    .round{
        display: flex;
        flex-direction:column;
        justify-content:center;
        width: 15vw;
        padding:0;
    }


    .round:before, .round:after{
        content: " ";
        display: inline-block;
        flex-grow:.5;
    }

    .spacer{
       flex-grow: 1;
    }
}