.Node{
    background: #333;
    border-radius: 5px;
    color: #FAFAFA;
    min-width: 3em;
    min-height: 2.5em;
}

.Node p{
    margin: 0;
}

@media (min-width: 768px){
    .Node{
        min-height: 2em;
    }
}